@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    background: #03131a;
    color: white;
}

* {
    font-family: 'Space Grotesk', monospace;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

/*.content-container {}*/

.content-body {
    /*background: linear-gradient(180deg, rgba(2,0,36,0.5) 0%, rgba(0,212,255,0.5) 100%);*/
    padding: 10px;
    height: 50vh;
    animation: pageload 0.8s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.identity-container {
    background: #333333;
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
    /*background: linear-gradient(135deg, rgba(71,71,71,1) 0%, rgba(30,30,30,1) 100%);*/ 
    padding: 20px;
}

.profile-image {
    border-radius: 50%;
}

.ident-line {
    display: inline-flex;
}

.name {
    margin-left: 20px;
    margin-top: 30px;
}

.social-links {
    margin-left: 20px;
}

.social-links li {
    display: inline;
    list-style: none;
    animation: icon-stagger 600ms ease-in-out both

;
}

.social-links img {
    margin-right: 10px;
}

.social-links img:hover {
    /*transition: 0.4s;*/
    transform: scale(120%);
    z-index: 999;
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px black);
}

.social-links li:nth-child(1) {
    animation-delay: 0ms;
}


.social-links li:nth-child(2) {
    animation-delay: 800ms;
}


.social-links li:nth-child(3) {
    animation-delay: 1000ms;
}

.social-links li:nth-child(4) {
    animation-delay: 1200ms;
}

@keyframes pageload {
    from {
        opacity: 0;
        margin-top: 40vh;
    }
    to {
        opacity: 100;
        margin-top: 0vh;
    }
}

.language-list ul {
    list-style: none;
    display: inline-flex;
}

.language-list a {
    text-decoration: none;
    margin-right: 10px;
}

.language-list li {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .language-list ul {
        display: block;
    }
}

.language-list a {
    color: white;
}

@keyframes icon-stagger {
    from {
        opacity: 0%;
        margin-right: 20px;
    }

    to {
        opacity: 100%;
        margin-right: 0px;
    }
}

.project-card {
    background: #090B11;
    /*background: #1E1E1E;*/
    display: block;
    transition: 0.2s;
    margin: 0;
    border-radius: 1rem;
    border: rgb(15, 23, 44) 1px solid;
}

.project-card:hover {
    transition: 0.4s;
    transform: scale(105%);
    z-index: 999;
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px black);
}

.project-card h1 {
    margin-top: 20px;
}

.copyright-notice {
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
    background-color: #090B11;
    margin-top: 8px;
    border-radius: 1rem;
    border: rgb(15, 23, 44) 1px solid;
    padding: 1%;
}

.project-image {
    height: 10vh;
    background-image: url('https://camo.githubusercontent.com/73fa73eda3ea4431e78d7bb2161ecc3a59279edbfcc032086eb7d10d5bb23a91/68747470733a2f2f692e696d6775722e636f6d2f3867363661504c2e706e67');
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.project-details {
    padding: 20px;
    padding-top: 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.2vw;
    row-gap: 1vh;
    margin-top: 1vh;
}

.role-design {
    list-style: none;
    display: flexbox;
    float:right;
    text-align: right;
    margin-top: 0.5vh;
    color: white;
    filter: drop-shadow(1px 1px 0.4px black);
}

.role-design li {
    margin: 0 10px;
    animation: icon-stagger 0.8s ease-in-out both;
}
.role-design li:nth-child(1) {
    animation-delay: 0.2s;
}
.role-design li:nth-child(2) {
    animation-delay: 0.4s;
}
.role-design li:nth-child(3) {
    animation-delay: 0.6s;
}

.section {
    background: #090B11;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 8px;
    border: rgb(15, 23, 44) 1px solid;
}

@media only screen and (max-width: 750px) {
    .role-design {
        display: none;
    }
}